$border-radius: 4px;
$border-radius-sm: 2px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$btn-border-radius: $border-radius;
$btn-border-radius-sm: $border-radius;
$btn-border-radius-lg: $border-radius;
$alert-border-radius: 0 $border-radius $border-radius 0;
$card-border-radius: $border-radius;
$form-border-radius: $border-radius;
$toggle-border-radius: $border-radius-lg;